<% provide(:title, 'Photography') %>

<% cache(:expires_in => 3.month) do %>
  <div class="row vcenter">
      <% parsePhotoData(@myPhotos).each do |ele| %>
      <%= render partial: 'layouts/photos', :locals=>{:largeURL => ele[:largeURL], :thumbURL => ele[:thumbURL], :title => ele[:title]} %>
      <% end %>
  </div>
<% end %>