/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$grayLighter: #f0f0f0;
$grayLight: #999;
$grayDarker: #555;
$grayBootstrap: #ddd;

$footerHeight: 50px;

/* universal styles */

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footerHeight*1.2;
}

textarea {
  resize: vertical;
}

/* universal typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}