<div class="container">
<footer class="footer">
  <small>
    Updated: 3/11/14
  </small>
  <nav>
    <ul>
    	<li><%= link_to "Resume", "/Resume_JM_10-0e.pdf" %></li>
      <li><%= link_to "Notes",   notes_path %></li>
    </ul>
  </nav>
</footer>
</div>