<div class="col-xs-4 col-xs-offset-1 col-sm-2 col-sm-offset-1 col-md-2 col-md-offset-1">
  <a href= <%= large %> data-lightbox='lb-stub' class='thumbnail' title= <%= title %>><img src= <%= thumb %> alt= <%= title %> ></a>
</div>